@model List<Leilao.Dominio.Models.Negociacao>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-2">
            <div class="thumbnail">
                <img src="@item.Produto.Imagem" alt="@item.Produto.Nome" width="120" height="180" />
                <div class="caption">
                    <h4 style="text-align:center">@item.Produto.Nome</h4>
                    <p style="text-align:center">R$ @item.Produto.Valor</p>
                    <p style="text-align:center">
                        <button type="button" onclick="setValores(@item.Id, @item.Produto.Valor)" id="btnComprar"
                                class="btn btn-success btn-sm" data-toggle="modal" data-target="#ModalComprar">
                            Ofertar
                        </button>
                    </p>
                </div>
            </div>            
        </div>
    }
</div>


<script>
    function setValores(Id, ValorProduto) {
        document.getElementById("Id").value = Id;
        document.getElementById("Produto_Valor").value = ValorProduto;
    }
</script>

