@model Leilao.MVC.Web.ViewModels.NegociacaoViewModel
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Comprar";
}

@HelperLayout.Titulo("Produtos Disponíveis no Site para Compra")

@Html.Partial("_tabelaProdutosDisponiveis", Model.Negociacoes)

<!--Modal -->
<div class="modal" id="ModalComprar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Proposta de Compra</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Comprar", "Compra", FormMethod.Post))
                {
                    <input type="hidden" name="Id" id="Id" />
                    @Html.HiddenFor(n => n.IdUser, new { @Value = User.Identity.GetUserId() })
                    @Html.HiddenFor(n => n.Status, new { @Value = "Em andamento" })  
                    <div class="form-group">
                        @Html.Label("Valor do Produto")
                        @Html.TextBoxFor(n => n.Produto.Valor, new { @class="form-control", disabled="disabled" })
                    </div>                                    
                    <div class="form-group">
                        @Html.Label("Sua Oferta")
                        @Html.TextBoxFor(n=>n.Valor, new { @class="form-control" })
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success btn-sm" value="Enviar" />
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
    $().ready(function() {
        console.log("ok"); //it shows this message
        function setFormValues(vals) {
            $("#Id").val(vals[0]);
            $("#Produto_Valor").val(vals[1]);
            $("#Valor").val(vals[1] * 1.10);
        }

        $("#thumb").on('click', function () {
            $("#btnProposta").click();
        });

    });
    </script>
}
