@*
        Helper para display de mensagem na página
    com formatação usando Bootstrap
    author Júlio
*@
@helper Mensagem(string mensagem, string tipoMensagem)
{
    <div class="row">
        <div class="@tipoMensagem">
            <p>@mensagem</p>
        </div>
    </div>
}

@*
        Helper para display de título na página
    com formatação usando Bootstrap(page-header)
    author Júlio
*@
@helper Titulo(string titulo)
{
    <div class="row" id="titulo">
        <div class="page-header">
            <h2>@titulo</h2>
        </div>
    </div>
}

@*
        Helper para display de sub-titulo
    com formatação usando Bootstrap(page-header com h4)
    author Júlio
*@
@helper SubTitulo(string titulo)
{
    <div class="row" id="subTitulo">
        <div class="page-header">
            <h4>@titulo</h4>
        </div>
    </div>
}

@*
        Helper para display de mensagens com formatação bootstrap(alert)
    author Júlio*@
@helper MensagemCustomizada(string tipoMensagem, string mensagem)
{
<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="@tipoMensagem">
            <button type="button" class="close" data-dismiss="alert">&times;</button>

            @if(tipoMensagem == null || tipoMensagem == "")
            {

            }
            else if (tipoMensagem.Equals("alert alert-dismissible alert-warning"))
            {
                <h4>Ops!</h4>
            }
            else if (tipoMensagem.Equals("alert alert-dismissible alert-success"))
            {
                <h4>Sucesso!</h4>
            }
            else
            {
                <h4>Informações</h4>
            }
            <p>@mensagem</p>
        </div>
    </div>
</div>
}