@model Bidme.MVC.Web.ViewModels.ProdutoViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Vender";
}

<br />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 div class="panel-title">Venda de Produtos</h3>
    </div>
    <div class="panel-body" style="align-content: center;">
        <div class="panel-title-subtitle" style="font-weight:bold; padding: 20px; margin-bottom:10px; background-color:Highlight; border-radius: 5px;">Cadastrar Novo Produto</div>

        <div class="row">
            @using (Html.BeginForm("CadastrarProduto", "Venda"))
            {
                <div class="col-md-4 col-sm-4">
                    @Html.HiddenFor(p => p.IdUser, new { @value = User.Identity.GetUserId() })
                    <div class="form-group">
                        @Html.LabelFor(p => p.Nome)
                        @Html.TextBoxFor(p => p.Nome, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => p.Descricao)
                        @Html.TextAreaFor(p => p.Descricao, new { @class = "form-control" })
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">

                    <div class="form-group">
                        @Html.LabelFor(p => p.Imagem)
                        @Html.TextBoxFor(p => p.Imagem, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(p => p.Valor)
                        @Html.TextBoxFor(p => p.Valor, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Cadastrar" />
                        <input type="reset" class="btn btn-danger" value="Limpar" />
                    </div>
                </div>

                <div class="col-md-4 col-sm-4">
                    @HelperLayout.MensagemCustomizada(Model.TipoMensagem, Model.Mensagem)
                    @Html.ValidationSummary()
                </div>
            }
        </div>

        <div class="panel-title-subtitle" style="font-weight:bold; padding: 20px; margin-bottom:10px; background-color:Highlight; border-radius: 5px;">Produtos cadastrados para venda</div>

        <div class="row">
            <div class="col-md-12 col-sm-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Imagem</th>
                            <th>Nome</th>
                            <th>Descrição</th>
                            <th>Valor</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.Partial("_tabelaProdutosCadastrados", Model.Produtos)
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalVender" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmar Venda de Produto</h4>
            </div>
            @using (Html.BeginForm("Negociar", "Venda"))
            {
                <input type="hidden" id="Id" name="Id" />
                @Html.HiddenFor(p => p.IdUser, new { @value = User.Identity.GetUserId() })
                <div class="modal-body">
                    Antes de continuar indique a validade da sua venda confirmando a data de encerramento.
                    <div class="form-group">
                        @Html.Label("Data de encerramento")
                        @Html.TextBox("DataValidade", null, new { @class="form-control" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <input type="submit" class="btn btn-success" value="Negociar" />
                </div>
            }
        </div>
    </div>
</div>