@model List<Leilao.Dominio.Models.Negociacao>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Produto.Nome</td>
        <td>
            <img src=@item.Produto.Imagem alt=@item.Produto.Nome width="50" height="50">
        </td>
        <td>@item.Valor</td>   
        <td>@item.Status</td>       
        <td>
            @if (item.Status.Equals("Em andamento"))
            {
                <script>
                    var valores = ["@item.Id", "@item.Produto.Valor", "@item.Valor"];
                </script>
                <button onclick="setValues(valores)" class="btn btn-primary" data-toggle="modal" data-target="#propostaModal">Opções</button>
            }else
            {
                @: -
            }
        </td>

    </tr>
}

 <script>    
    function setValues(valores) {
        console.log("id " + valores[0] + " valorOriginal " + valores[1] + " valorDaProposta " + valores[2]);
        $("#Id").val(valores[0]);
        $("#ValorOriginal").val(valores[1]);
        $("#ValorDaProposta").val(valores[2]);
    }   
</script>  

