@model Leilao.MVC.Web.ViewModels.PainelViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Painel";
}

@*Model.IdUser*@

@HelperLayout.Titulo("Painel do " + Model.Usuario.Pessoa.Nome)

<div class="row">
    <div class="col-md-12 col-sm-12">
        <p>Menu do Usuário</p>        
        @Html.ActionLink("Vender", "Vender", "Venda", new { idUser = User.Identity.GetUserId() }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Comprar", "Comprar", "Compra", new { idUser = User.Identity.GetUserId() }, new { @class = "btn btn-primary" })
    </div>
</div>

@HelperLayout.SubTitulo("Produtos que você está vendendo")

@*Tabela de Vendas*@

<div class="row">
    <div class="col-md-12 col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id Negociação</th>
                    <th>Nome do Produto</th>
                    <th>Imagem</th>
                    <th>Valor Negociação</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @Html.Partial("_tabelaVendas", Model.NegociacoesVenda)
            </tbody>
        </table>
    </div>
</div>

@HelperLayout.SubTitulo("Produto que você está comprando")

@*Tabela de Compras*@
<div class="row">
    <div class="col-md-12 col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id Negociação</th>
                    <th>Nome do Produto</th>
                    <th>Imagem</th>
                    <th>Valor Negociação</th>
                    <th>Valor Original</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @Html.Partial("_tabelaCompras", Model.NegociacoesCompra)
            </tbody>
        </table>
    </div>
</div>

