@model Leilao.MVC.Web.ViewModels.PainelViewModel
@{
    ViewBag.Title = "Painel";
}

@*Model.IdUser*@

@HelperLayout.Titulo("Painel do Usuário de " + Model.Usuario.Pessoa.Nome)

<div class="row">
    <div class="col-md-12 col-sm-12">
        <p>Menu do Usuário</p>        
        @Html.ActionLink("Vender", "Vender", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Comprar", "Comprar", null, new { @class = "btn btn-primary" })
    </div>
</div>

@HelperLayout.SubTitulo("Vendas")

@*Tabela de Vendas*@

<div class="row">
    <div class="col-md-12 col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Valor</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @Html.Partial("_tabelaVendas", Model.NegociacoesVenda)
            </tbody>
        </table>
    </div>
</div>

@HelperLayout.SubTitulo("Compras")

@*Tabela de Compras*@
<div class="row">
    <div class="col-md-12 col-sm-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Valor</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @Html.Partial("_tabelaCompras", Model.NegociacoesCompra)
            </tbody>
        </table>
    </div>
</div>

