@model List<Bidme.Dominio.Models.Negociacao>

<div class="row" id="thumbs">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-2">
            <div class="thumbnail" id="thumb">
                <img src="@item.Produto.Imagem" alt="@item.Produto.Nome" style="min-height:120px;height:120px;" />
                <div class="caption">
                    <h4 style="text-align:center">@item.Produto.Nome</h4>
                    <p style="text-align:center">
                    @*verificar se possui algum lance dado pelo valor, mudar para controller fazer isso*@
                    @if (item.Valor == 0)
                    {
                        @: R$ @item.Produto.Valor
                    }else
                    {
                        @: R$ @item.Valor
                    }
                    </p>
                    <p style="text-align:center"> Restam @item.ValidadeNegociacao.ValidadeDias dia(s)!</p>
                    <p style="text-align:center">
                        <script>
                            var valores = ["@item.Id", "@item.Produto.Valor"];
                        </script>
                        <button onclick="setFormValues(valores)" id="btnProposta" class="btn btn-success btn-sm" data-toggle="modal" data-target="#ModalComprar">
                            Eu Quero!
                        </button>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

